<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>
    <head>
    </head>
  <body>
    <a href="/log-in">Login Page</a>
    <h1>Enter your details:</h1>
    <form action="/sign-up" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" placeholder="password" type="text" />
      <br />
      <br />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
